{% extends 'base.html' %}

{% block basketball_players %}
<!-- ———————————————————————————— CONTAINER ———————————————————————————— -->
<div class="container-fluid">
    <div class="row d-flex align-items-center vh-100">

        <!-- ———————————————————————————— PLAYERS TABLE ———————————————————————————— -->
        <div class="offset-1 col-8">

            {% if result is string %}

            <h4 class="error_translate">{{ result }}</h4>
            <div class="d-flex justify-content-center mt-3">
                <a href="/">
                    <button class="to_main_page">На главную страницу</button>
                </a>

            </div>

            {% else %}

            <!-- ———————————————————————————— BLOCK SEARCH ———————————————————————————— -->
            <div class="search_container">
                <form action="#" method="get">
                    <div class="d-flex justify-content-end mb-3">
                        <input class="mx-2" name="search_players" type="search" placeholder="Поиск">
                        <button type="submit" class="search">Найти</button>
                    </div>
                </form>
            </div>

            <!-- ———————————————————————————— TABLE TOOLTIP ———————————————————————————— -->
            <div class="d-flex justify-content-between">
                <h3 class="company_title">Компания "Всезнающая Обитель"</h3>
                <div class="players_tooltip mb-2">
                    <p class="text-end">
                        * поиск производится по именам, должности, национальности и месту обучения <br>
                        ** для поиска достаточно ввести одно слово
                    </p>
                </div>
            </div>

            <!-- ———————————————————————————— PLAYERS TABLE HEAD ———————————————————————————— -->
            <div class="table-scroll">

                <table>
                    <thead>
                        <tr>
                            <th style="width: 5%;">#</th>
                            <th style="width: 10%;">Имя</th>
                            <th style="width: 12%;">Телефон</th>
                            <th style="width: 18%;">Email</th>
                            <th style="width: 7%;">Возраст</th>
                            <th style="width: 10%;">Должность</th>
                            <th style="width: 12%;">Национальность</th>
                            <th style="width: 19%;">Университет</th>
                            <th style="width: 7%;">Опыт</th>
                        </tr>
                    </thead>
                </table>

                <!-- ———————————————————————————— PLAYERS TABLE BODY ———————————————————————————— -->
                <div class="table-scroll-body content">

                    <table>
                        <tbody>

                            <!-- ———————————————————————————— LOOP FOR ———————————————————————————— -->
                            {% for line in result %}
                            <tr>

                                <!-- ———————————————————————————— LOOP INDEX ———————————————————————————— -->
                                <td style="width: 5%;">{{ loop.index }}</td>

                                <!-- ———————————————————————————— LINE 0 ———————————————————————————— -->
                                {% if line[0] == 'Неизвестно' %}
                                <td style="width: 10%; color: var(--purple-mimosa); 
                                    text-shadow: var(--purple-mimosa-shadow);">{{ line[0] }}</td>
                                {% else %}
                                <td style="width: 10%;">{{ line[0] }}</td>
                                {% endif %}

                                <!-- ———————————————————————————— LINE 1 ———————————————————————————— -->
                                {% if line[1] == 'Неизвестно' %}
                                <td style="width: 12%; color: var(--purple-mimosa); 
                                    text-shadow: var(--purple-mimosa-shadow);">{{ line[1] }}</td>
                                {% else %}
                                <td style="width: 12%;">{{ line[1] }}</td>
                                {% endif %}

                                <!-- ———————————————————————————— LINE 2 ———————————————————————————— -->
                                {% if line[2] == 'Неизвестно' %}
                                <td style="width: 18%; color: var(--purple-mimosa); 
                                    text-shadow: var(--purple-mimosa-shadow);">{{ line[2] }}</td>
                                {% else %}
                                <td style="width: 18%;">{{ line[2] }}</td>
                                {% endif %}

                                <!-- ———————————————————————————— LINE 3 ———————————————————————————— -->
                                {% if line[3] == 'Неизвестно' %}
                                <td style="width: 7%; color: var(--purple-mimosa); 
                                    text-shadow: var(--purple-mimosa-shadow);">{{ line[3] }}</td>
                                {% else %}
                                <td style="width: 7%;">{{ line[3] }}</td>
                                {% endif %}

                                <!-- ———————————————————————————— LINE 4 ———————————————————————————— -->
                                {% if line[4] == 'Неизвестно' %}
                                <td style="width: 10%; color: var(--purple-mimosa); 
                                    text-shadow: var(--purple-mimosa-shadow);">{{ line[4] }}</td>
                                {% else %}
                                <td style="width: 10%;">{{ line[4] }}</td>
                                {% endif %}

                                <!-- ———————————————————————————— LINE 5 ———————————————————————————— -->
                                {% if line[5] == 'Неизвестно' %}
                                <td style="width: 12%; color: var(--purple-mimosa); 
                                    text-shadow: var(--purple-mimosa-shadow);">{{ line[5] }}</td>
                                {% else %}
                                <td style="width: 12%;">{{ line[5] }}</td>
                                {% endif %}

                                <!-- ———————————————————————————— LINE 6 ———————————————————————————— -->
                                {% if line[6] == 'Неизвестно' %}
                                <td style="width: 19%; color: var(--purple-mimosa); 
                                    text-shadow: var(--purple-mimosa-shadow);">{{ line[6] }}</td>
                                {% else %}
                                <td style="width: 19%;">{{ line[6] }}</td>
                                {% endif %}

                                <!-- ———————————————————————————— LINE 7 ———————————————————————————— -->
                                {% if line[7] == 'Неизвестно' %}
                                <td style="width: 7%; color: var(--purple-mimosa); 
                                    text-shadow: var(--purple-mimosa-shadow);">{{ line[7] }}</td>
                                {% else %}
                                <td style="width: 7%;">{{ line[7] }}</td>
                                {% endif %}

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                </div>

            </div>

            <!-- ———————————————————————————— TABLE TOOLTIP ———————————————————————————— -->
            <div class="players_tooltip d-flex justify-content-between mt-3">
                <p>
                    Найдено сотрудников: {{ result|length }}
                </p>
                <p>
                    *** 100 первых работников сформированы библиотекой генерации фактивных данных - mimesis.
                </p>
            </div>

            {% endif %}

        </div>

    </div>
</div>

{% endblock %}