[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
translators = "*"
pyspellchecker = "*"
pandas = "*"
openpyxl = "*"
pygments = "*"
unitsnet-py = "*"
bs4 = "*"
currencyconverter = "*"
mimesis = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"

Flask~=2.3.2
pandas~=2.0.2
requests~=2.31.0
bs4~=0.0.1
beautifulsoup4~=4.12.2
translators~=5.7.6
Pygments~=2.15.1
mimesis~=10.1.0