{% block form_put_delete_players %}

<div class="row d-flex align-items-center justify-content-center vh-100">
    <!-- ———————————————————————————— BLOCK DELETE ———————————————————————————— -->
    <div class="col-3 block_exercise_1">
        <div class="d-flex justify-content-between align-items-center">
            <h4>Удаление:</h4>
            <i class="fa-solid fa-trash"></i>
        </div>
        <hr>
        <!-- ———————————————————————————— FORM DELETE ———————————————————————————— -->
        <form action="/basketball_players/delete" method="post">
            <!-- ———————————————————————————— PLAYER ID ———————————————————————————— -->
            <div class="d-flex mt-2">
                <input name="player_id_delete" id="player_id_delete" type="number" required placeholder="ID игрока">
                <span><i class="fa-regular fa-id-card"></i></span>
            </div>
            <!-- ———————————————————————————— PLAYER DELETE ———————————————————————————— -->
            <div class="d-flex justify-content-end mt-4">
                <button class="submit" type="submit">Удалить</button>
            </div>
        </form>
    </div>

    <div class="col-4 mx-4">
        <h2 class="text-center mb-5">ИЗМЕНЕНИЕ И УДАЛЕНИЕ ДАННЫХ</h2>
        <div class="exercise_description">
            <div class="d-flex justify-content-between align-items-center">
                <h3>Примечание</h3>
                <i class="fa-solid fa-circle-info fa-xl"></i>
            </div>
            <hr>
            <p>
                Чтобы удалить строку из таблицы, достаточно ввести ее номер в поле ввода. Для изменения данных
                необязательно заполнять форму, обязательным является поле ввода ID. А дальше можете заполнить
                только те поля, которые хотите поменять. <br><br>
                Просьба не изменять и не удалять данные после того, как
                произвели поиск, иначе изменятся данные номера из исходной таблицы. Здесь все
                привязано к loop.index и из коробки id у каждого элемента нет.
            </p>
        </div>
    </div>

    <!-- ———————————————————————————— BLOCK UPDATE ———————————————————————————— -->
    <div class="col-4 block_exercise_1">
        <div class="d-flex justify-content-between align-items-center">
            <h4>Изменение:</h4>
            <i class="fa-solid fa-pen-to-square"></i>
        </div>
        <hr>
        <!-- ———————————————————————————— FORM UPDATE ———————————————————————————— -->
        <form class="mt-3" action="/basketball_players/update" method="post">
            <!-- ———————————————————————————— PLAYER ID ———————————————————————————— -->
            <div class="d-flex mt-2">
                <div class="custom-tooltip">
                    <input name="player_id_update" id="player_id_update" type="number" required placeholder="ID игрока">
                    <div class="left">
                        <span>Введите номер того игрока из таблицы, данные которого хотели бы поменять</span>
                        <i></i>
                    </div>
                </div>
                <span><i class="fa-regular fa-id-card"></i></span>
            </div>
            <!-- ———————————————————————————— FULL NAME ———————————————————————————— -->
            <div class="d-flex justify-content-between">
                <div class="d-flex mt-2">
                    <input name="player_first_name" id="player_first_name" type="text" placeholder="Имя">
                    <span><i class="fa-solid fa-circle-user"></i></span>
                </div>
                <div class="d-flex mx-3 mt-2">
                    <input name="player_last_name" id="player_last_name" type="text" placeholder="Фамилия">
                    <span><i class="fa-solid fa-circle-user"></i></span>
                </div>
                <div class="d-flex mt-2">
                    <input name="player_surname" id="player_surname" type="text" placeholder="Отчество">
                    <span><i class="fa-solid fa-circle-user"></i></span>
                </div>
            </div>
            <!-- ———————————————————————————— PLAYER ROLE ———————————————————————————— -->
            <div class="d-flex mt-2">
                <div class="custom-tooltip">
                    <input name="player_role" id="player_role" type="text" placeholder="Амплуа">
                    <div class="left">
                        <span>Форвард, Защитник или Центровой?</span>
                        <i></i>
                    </div>
                </div>
                <span><i class="fa-solid fa-address-book"></i></span>
            </div>
            <!-- ———————————————————————————— PLAYER AGE ———————————————————————————— -->
            <div class="d-flex mt-2">
                <div class="custom-tooltip">
                    <input name="player_age" id="player_age" type="number" min="20" max="50" placeholder="Возраст">
                    <div class="left">
                        <span>Возраст допускается в пределах [ 20 - 50 ] лет</span>
                        <i></i>
                    </div>
                </div>
                <span><i class="fa-solid fa-person-arrow-up-from-line"></i></span>
            </div>
            <!-- ———————————————————————————— PLAYER HEIGHT ———————————————————————————— -->
            <div class="d-flex mt-2">
                <div class="custom-tooltip">
                    <input name="player_height" id="player_height" min="170" max="230" type="number" placeholder="Рост">
                    <div class="left">
                        <span>Рост допускается в пределах [ 170 - 230 ] см</span>
                        <i></i>
                    </div>
                </div>
                <span><i class="fa-solid fa-ruler"></i></span>
            </div>
            <!-- ———————————————————————————— PLAYER WEIGHT ———————————————————————————— -->
            <div class="d-flex mt-2">
                <div class="custom-tooltip">
                    <input name="player_weight" id="player_weight" min="60" max="140" type="number" placeholder="Вес">
                    <div class="left">
                        <span>Вес допускается в пределах [ 60 - 140 ] кг</span>
                        <i></i>
                    </div>
                </div>
                <span><i class="fa-solid fa-weight-scale"></i></span>
            </div>
            <!-- ———————————————————————————— PLAYER TEAM ———————————————————————————— -->
            <div class="d-flex mt-2">
                <input name="player_team" id="player_team" type="text" placeholder="Название команды">
                <span><i class="fa-solid fa-pencil"></i></span>
            </div>
            <!-- ———————————————————————————— PLAYER EDUCATION ———————————————————————————— -->
            <div class="d-flex mt-2">
                <input name="player_education" id="player_education" type="text" placeholder="Университет или колледж">
                <span><i class="fa-solid fa-school"></i></span>
            </div>
            <!-- ———————————————————————————— PLAYER SALARY ———————————————————————————— -->
            <div class="d-flex mt-2">
                <div class="custom-tooltip">
                    <input name="player_salary" id="player_salary" min="0" max="5000" type="text"
                        placeholder="Зарплата (млн руб)">
                    <div class="left">
                        <span>Допускается в пределах [ 0 - 5000 ] млн руб</span>
                        <i></i>
                    </div>
                </div>
                <span><i class="fa-solid fa-coins"></i></span>
            </div>
            <!-- ———————————————————————————— PLAYER UPDATE ———————————————————————————— -->
            <div class="d-flex justify-content-end mt-4">
                <button class="submit" type="submit">Изменить</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}