{% block class_ud_translate %}
<div class="row d-flex align-items-center justify-content-between code_description mt-4">
    <div class="col-6">
        <h5>Инициализация класса UDTranslate</h5>
        <hr>
        <p>
            Инициализируем новый класс, который наследуется от класса <span class="help_translate">Translate</span> 
            – <span class="help_translate">UDTranslate</span> (в данном случае UD означает Update & Delete). Затем 
            вызывается метод <span class="help_translate">super()</span>, чтобы вызвать конструктор из главного класса – 
            это позволит вызывать подкласс, передавая в него тот же самый словарь. 
        </p>
    </div>
    <div class="col-6">
        <div class="highlight" style="background: #fdf6e3; border-radius: 8px;border: 1px solid grey;padding: 15px"><pre style="line-height: 125%;"><span></span>
<span style="color: #859900">class</span> <span style="color: #268bd2">UDTranslate</span><span style="color: #657b83">(Translate):</span> 
    <span style="color: #859900">def</span> <span style="color: #268bd2">__init__</span><span style="color: #657b83">(</span><span style="color: #268bd2">self</span><span style="color: #657b83">,</span> <span style="color: #657b83">word:</span> <span style="color: #268bd2">dict</span><span style="color: #657b83">):</span> 
        <span style="color: #268bd2">super</span><span style="color: #657b83">()</span><span style="color: #93a1a1">.</span><span style="color: #268bd2">__init__</span><span style="color: #657b83">(word)</span></pre>
        </div>
    </div>
</div>
{% endblock %}