{% block class_translate %}
<div class="row d-flex align-items-center justify-content-between code_description mt-4">
    <div class="col-7">
        <h5>Инициализация класса Translate</h5>
        <hr>
        <p>
            Был создан класс <span class="help_translate">Translate</span>. В конструкторе создаются объекты
            <span class="help_translate">SpellChecker</span> и <span class="help_translate">translators</span>
            для использования в методах, а также в качестве аргумента класс <span class="help_translate">
            Translate</span> принимает <span class="help_translate">word</span> – словарь. Логика та же, что и в 
            Players. Делаем входящий аргумент универсальным, что можно было использовать наследование конструктора. 
        </p>
    </div>
    <div class="col-5">
        <div class="highlight" style="background: #fdf6e3; border-radius: 8px;border: 1px solid grey;padding: 15px"><pre style="line-height: 125%;"><span></span>
<span style="color: #859900">class</span> <span style="color: #268bd2">Translate</span><span style="color: #657b83">:</span> 
    <span style="color: #859900">def</span> <span style="color: #268bd2">__init__</span><span style="color: #657b83">(</span><span style="color: #268bd2">self</span><span style="color: #657b83">,</span> <span style="color: #657b83">word:</span> <span style="color: #268bd2">dict</span><span style="color: #657b83">):</span> 
        <span style="color: #268bd2">self</span><span style="color: #93a1a1">.</span><span style="color: #657b83">spell</span> <span style="color: #93a1a1">=</span> <span style="color: #657b83">SpellChecker(language</span><span style="color: #93a1a1">=</span><span style="color: #2aa198">&#39;ru&#39;</span><span style="color: #657b83">)</span> 
        <span style="color: #268bd2">self</span><span style="color: #93a1a1">.</span><span style="color: #657b83">translator</span> <span style="color: #93a1a1">=</span> <span style="color: #657b83">translators</span> 
        <span style="color: #268bd2">self</span><span style="color: #93a1a1">.</span><span style="color: #657b83">word:</span> <span style="color: #268bd2">dict</span> <span style="color: #93a1a1">=</span> <span style="color: #657b83">word</span></pre>
        </div>
    </div>
</div>

{% endblock %}