{% block read_csv_ex_2 %}
<p class="mt-3">
    Метод <span class="help_translate">read_csv()</span> возвращает тип bool. Здесь открывается
    существующий файл "words.csv", выбирается столбец "Russian" (слова на русском, т.е. 
    введенные пользователем) и преобразовывается в словарь. Затем цикл перебирает все слова 
    по индексу и сравнивает с введенным словом. Если нашлось совпадение, значит слово уже 
    присутствует в списке – возвращается False. Если по окончании цикла совпадений не найдено,
    возвращается True.
</p>

<div class="highlight" style="border-radius: 8px;background: #fdf6e3; border: 1px solid grey;padding: 15px">
    <pre style="line-height: 125%;"><span></span><span style="color: #859900">def</span> <span style="color: #268bd2">read_csv</span><span style="color: #657b83">(</span><span style="color: #268bd2">self</span><span style="color: #657b83">)</span> <span style="color: #93a1a1">-&gt;</span> <span style="color: #268bd2">bool</span><span style="color: #657b83">:</span> 
    <span style="color: #657b83">csv</span> <span style="color: #93a1a1">=</span> <span style="color: #657b83">pd</span><span style="color: #93a1a1">.</span><span style="color: #657b83">read_csv(</span><span style="color: #2aa198">&quot;results/words.csv&quot;</span><span style="color: #657b83">)[</span><span style="color: #2aa198">&quot;Russian&quot;</span><span style="color: #657b83">]</span><span style="color: #93a1a1">.</span><span style="color: #657b83">to_dict()</span> 
    <span style="color: #859900">for</span> <span style="color: #657b83">index</span> <span style="color: #859900">in</span> <span style="color: #657b83">csv:</span> 
        <span style="color: #859900">if</span> <span style="color: #268bd2">self</span><span style="color: #93a1a1">.</span><span style="color: #657b83">word</span><span style="color: #93a1a1">.</span><span style="color: #657b83">capitalize()</span> <span style="color: #93a1a1">==</span> <span style="color: #657b83">csv[index]:</span> 
            <span style="color: #859900">return</span> <span style="color: #2aa198">False</span> 
        <span style="color: #859900">continue</span> 
    <span style="color: #859900">return</span> <span style="color: #2aa198">True</span></pre>
</div>
{% endblock %}