{% block to_csv_ex_2 %}
<div class="row d-flex align-items-center justify-content-between code_description mt-4">
    <div class="col-6">
        <h5>Метод добавления слова</h5>
        <hr>
        <p class="mt-3">
            Метод <span class="help_translate">to_csv()</span> принимает в качестве аргумента 
            список <span class="help_translate">words_list</span> из метода <span 
            class="help_translate">translate()</span>. Вначале создается список колонок – 
            три языка. Затем используется модуль <span class="help_translate">Pandas</span>, 
            с помощью которого создается <span class="help_translate">DataFrame</span>, в который входит список слов. Затем
            созданный <span class="help_translate">DataFrame</span> добавляется в файл "words.csv" 
            (В качестве mode используем 'a', чтобы не перезаписывать файл). 
            В конце возвращается вызов метода <span class="help_translate">read_csv_to_html()</span>.
        </p>
    </div>
    <div class="col-6">
        <div class="highlight" style="background: #fdf6e3; border-radius: 8px;border: 1px solid grey;padding: 15px"><pre style="line-height: 125%;"><span></span>
<span style="color: #859900">def</span> <span style="color: #268bd2">to_csv</span><span style="color: #657b83">(</span><span style="color: #268bd2">self</span><span style="color: #657b83">,</span> <span style="color: #657b83">words_list:</span> <span style="color: #268bd2">list</span><span style="color: #657b83">):</span> 
    <span style="color: #657b83">columns:</span> <span style="color: #268bd2">list</span> <span style="color: #93a1a1">=</span> <span style="color: #657b83">[</span><span style="color: #2aa198">&#39;Russian&#39;</span><span style="color: #657b83">,</span> <span style="color: #2aa198">&#39;English&#39;</span><span style="color: #657b83">,</span> <span style="color: #2aa198">&#39;French&#39;</span><span style="color: #657b83">]</span> 
    <span style="color: #657b83">df</span> <span style="color: #93a1a1">=</span> <span style="color: #657b83">pd</span><span style="color: #93a1a1">.</span><span style="color: #657b83">DataFrame([words_list],</span> <span style="color: #657b83">columns</span><span style="color: #93a1a1">=</span><span style="color: #657b83">columns)</span> 
    <span style="color: #657b83">df</span><span style="color: #93a1a1">.</span><span style="color: #657b83">to_csv(</span><span style="color: #2aa198">&#39;results/words.csv&#39;</span><span style="color: #657b83">,</span> <span style="color: #657b83">mode</span><span style="color: #93a1a1">=</span><span style="color: #2aa198">&#39;a&#39;</span><span style="color: #657b83">,</span> <span style="color: #657b83">header</span><span style="color: #93a1a1">=</span><span style="color: #2aa198">False</span><span style="color: #657b83">,</span> <span style="color: #657b83">index</span><span style="color: #93a1a1">=</span><span style="color: #2aa198">False</span><span style="color: #657b83">)</span> 
    <span style="color: #859900">return</span> <span style="color: #268bd2">self</span><span style="color: #93a1a1">.</span><span style="color: #657b83">read_csv_to_html()</span></pre>
        </div>
    </div>
</div>

{% endblock %}