{% block read_csv_to_html %}
<div class="row d-flex align-items-center justify-content-between code_description mt-4">
    <div class="col-6">
        <h5>Метод отправки в HTMl</h5>
        <hr>
        <p class="mt-3">
            Также, как и предыдущих заданиях, используется статический метод <span class="help_translate">read_csv_to_html()</span>. 
            Для начала встроенным методом 
            Python <span class="help_translate"> open()</span> еще раз открывается файл "words.csv". Затем 
            перебираются все строки, каждая из который содержит в себе три слова через запятую, встроенным 
            методом split с сепаратом в виде запятой преобразуется в список из трех элементов и добавляется 
            в результирующий список, который отправляется в HTML-шаблон.
        </p>
    </div>
    <div class="col-6">
        <div class="highlight" style="background: #fdf6e3; border-radius: 8px;border: 1px solid grey;padding: 15px">
    <pre style="line-height: 125%;"><span></span>
<span style="color: #268bd2">@staticmethod</span> 
<span style="color: #859900">def</span> <span style="color: #268bd2">read_csv_to_html</span><span style="color: #657b83">()</span> <span style="color: #93a1a1">-&gt;</span> <span style="color: #268bd2">list</span><span style="color: #657b83">:</span> 
    <span style="color: #657b83">file</span> <span style="color: #93a1a1">=</span> <span style="color: #268bd2">open</span><span style="color: #657b83">(</span><span style="color: #2aa198">&quot;results/employees.csv&quot;</span><span style="color: #657b83">,</span> <span style="color: #2aa198">"r"</span><span style="color: #657b83">)</span> 
    <span style="color: #657b83">lines:</span> <span style="color: #268bd2">list</span> <span style="color: #93a1a1">=</span> <span style="color: #657b83">[x</span><span style="color: #93a1a1">.</span><span style="color: #657b83">split(</span><span style="color: #2aa198">&#39;,&#39;</span><span style="color: #657b83">)</span> <span style="color: #859900">for</span> <span style="color: #657b83">x</span> <span style="color: #859900">in</span> <span style="color: #657b83">file</span><span style="color: #93a1a1">.</span><span style="color: #657b83">read()</span><span style="color: #93a1a1">.</span><span style="color: #657b83">splitlines()[</span><span style="color: #2aa198">1</span><span style="color: #657b83">:]]</span>
    <span style="color: #859900">return</span> <span style="color: #657b83">lines</span></pre>
        </div>
    </div>
</div>
{% endblock %}