{% block check_unknowns_fields_ex_1 %}
<p>
    Здесь в качестве аргумента из метода <span class="help_translate">add_player_to_csv()</span> 
    приходит список данных, введенных пользователем. Циклом каждый элемент списка проверяется 
    на пустоту, если условие выполнено, элемент заменяется на строку <span class="help_translate">
    "Неизвестно"</span> – иначе продолжаем перебор. В конце возвращается список отформатированных 
    элементов.
</p>

<div class="highlight" style="background: #fdf6e3; border-radius: 8px;border: 1px solid grey;padding: 15px"><pre style="line-height: 125%;"><span></span><span style="color: #268bd2">@staticmethod</span> 
<span style="color: #859900">def</span> <span style="color: #268bd2">check_unknown_fields</span><span style="color: #657b83">(player_info:</span> <span style="color: #268bd2">list</span><span style="color: #657b83">):</span> 
    <span style="color: #859900">for</span> <span style="color: #657b83">index,</span> <span style="color: #657b83">field</span> <span style="color: #859900">in</span> <span style="color: #268bd2">enumerate</span><span style="color: #657b83">(player_info):</span> 
        <span style="color: #859900">if</span> <span style="color: #657b83">field</span> <span style="color: #93a1a1">==</span> <span style="color: #2aa198">&#39;&#39;</span> <span style="color: #859900">or</span> <span style="color: #268bd2">len</span><span style="color: #657b83">(field)</span> <span style="color: #93a1a1">==</span> <span style="color: #2aa198">2</span><span style="color: #657b83">:</span> 
            <span style="color: #657b83">player_info[index]</span> <span style="color: #93a1a1">=</span> <span style="color: #2aa198">&#39;Неизвестно&#39;</span> 
        <span style="color: #859900">continue</span> 
    <span style="color: #859900">return</span> <span style="color: #657b83">player_info</span></pre>
</div>
{% endblock %}