{% block class_players %}
<div class="row d-flex align-items-center code_description justify-content-between mt-4">
    <div class="col-6">
        <div>
            <h5>Инициализация класса Players</h5>
            <hr>
            <p>
                Здесь в качестве аргумента приходит словарь из формы. Распаковывать 
                его будем в методах, так как этот словарь приходит в трех случаях и 
                всегда разный. Словарь приходит при добавлении игрока, изменении и 
                удалении данных игрока.
            </p>
        </div>
    </div>
    <div class="col-6">
        <div class="highlight" style="background: #fdf6e3; border-radius: 8px;border: 1px solid grey;padding: 15px"><pre style="line-height: 125%;"><span></span>
<span style="color: #859900">class</span> <span style="color: #268bd2">Players</span><span style="color: #657b83">:</span> 
    <span style="color: #859900">def</span> <span style="color: #268bd2">__init__</span><span style="color: #657b83">(</span><span style="color: #268bd2">self</span><span style="color: #657b83">,</span> <span style="color: #657b83">form_info:</span> <span style="color: #268bd2">dict</span><span style="color: #657b83">):</span> 
        <span style="color: #268bd2">self</span><span style="color: #93a1a1">.</span><span style="color: #657b83">form_info:</span> <span style="color: #268bd2">dict</span> <span style="color: #93a1a1">=</span> <span style="color: #657b83">form_info</span></pre></div>
    </div>
</div>
{% endblock %}