{% block class_books %}
<div class="row d-flex align-items-center justify-content-between code_description mt-4">
    <div class="col-6">
        <h5></h5>
        <hr>
        <p class="mt-3">
            Как и в предыдущих двух заданиях класс принимает словарь из формы – 
            <span class="help_translate">form_info</span>.
        </p>
    </div>
    <div class="col-6">
        <div class="highlight" style="background: #fdf6e3; border-radius: 8px;border: 1px solid grey;padding: 15px"><pre style="line-height: 125%;"><span></span>
<span style="color: #859900">class</span> <span style="color: #268bd2">Books</span><span style="color: #657b83">:</span> 
    <span style="color: #859900">def</span> <span style="color: #268bd2">__init__</span><span style="color: #657b83">(</span><span style="color: #268bd2">self</span><span style="color: #657b83">,</span> <span style="color: #657b83">form_info:</span> <span style="color: #268bd2">dict</span><span style="color: #657b83">):</span> 
        <span style="color: #268bd2">self</span><span style="color: #93a1a1">.</span><span style="color: #657b83">form_info:</span> <span style="color: #268bd2">dict</span> <span style="color: #93a1a1">=</span> <span style="color: #657b83">form_info</span></pre></div>
    </div>
</div>
{% endblock %}