{% block description %}
<!-- ———————————————————————————— CONTAINER ———————————————————————————— -->
<div class="container-fluid">
    <div class="row d-flex align-items-center vh-100">

        <!-- ———————————————————————————— BLOCK DESCRIPTION ———————————————————————————— -->
        <div class="offset-2 col-7 description">
            <h2>Предисловие</h2>
            <hr>
            <p>
                Итак. В предисловии хотелось бы сказать, что это достаточно трудоемкое задание, но вместе
                с тем не менее интересное. Я долго думал, как сделать все более компактно и по уму. Что ж, на
                помощь в этом проекте пришли библиотеки:
            </p>
            <ul>
                <li>Flask – фреймворк для поднятия сервера;</li>
                <li>mimesis – фейковые данные для быстрого создания словаря;</li>
                <li>random – рандомный выбор элемента;</li>
                <li>Pandas – добавление строк в файл csv и их считывание;</li>
                <li>BeatifulSoup 4 - парсинг сайтов;</li>
                <li>translators – переводчик слов;</li>
                <li>PySpellChecker – проверка орфографии слов;</li>
                <li>unitsnet_py – конвертер метрических единиц;</li>
                <li>CurrencyConverter – конвертер валют;</li>
                <li>re – регулярные выражения;</li>
                <li>Pygments – использовалось для объяснения работы кода в разделе "Помощь";</li>
            </ul>
            <p>
                Я хотел создать полное CRUD-приложение с обработкой методов [ "PUT" , "DELETE" ], однако решил 
                не делать их как положено. Начну использовать, когда начнем подключать базы данных. Все-таки 
                с ними будет намного удобнее создавать такие проекты, нежели с CSV-файлами. Надеюсь на Ваше 
                понимание!
            </p>
            <p>
                Примечание: если хотите разобраться в коде, в шапке профиля перейдите
                в раздел "Помощь".
            </p>
        </div>

    </div>
</div>
{% endblock %}