{% block description %}
<!-- ———————————————————————————— CONTAINER ———————————————————————————— -->
<div class="container">
    <div class="row d-flex align-items-center vh-100">

        <!-- ———————————————————————————— BLOCK DESCRIPTION ———————————————————————————— -->
        <div class="offset-2 col-8 description">
            <h2>Предисловие</h2>
            <hr>
            <p>
                Итак. В предисловии хотелось бы сказать, что это достаточно трудоемкое задание, но вместе
                с тем не менее интересное. Я долго думал, как сделать все более компактно и по уму. Что ж, на
                помощь в этом проекте пришли библиотеки:
            </p>
            <ul>
                <li>Faker – фейковые данные для быстрого создания словаря;</li>
                <li>Pandas – добавление строк в файл csv и их считывание;</li>
                <li>BeatifulSoup 4 - парсинг сайтов;</li>
                <li>translators – переводчик слов;</li>
                <li>PySpellChecker – проверка орфографии слов;</li>
                <li>unitsnet_py – конвертер метрических единиц;</li>
                <li>CurrencyConverter – конвертер валют;</li>
                <li>re – регулярные выражения;</li>
                <li>Pygments – использовалось для объяснения работы кода в разделе "Помощь";</li>
            </ul>
            <p>
                Примечание: если хочется разобраться в коде, в шапке профиля перейдите
                в раздел "Помощь".
            </p>
        </div>

    </div>
</div>
{% endblock %}