{% block description %}
<!-- ———————————————————————————— CONTAINER ———————————————————————————— -->
<div class="container-fluid">
    <div class="row d-flex align-items-center vh-100">

        <!-- ———————————————————————————— BLOCK DESCRIPTION ———————————————————————————— -->
        <div class="offset-2 col-7 description">
            <h2>Предисловие</h2>
            <hr>
            <p>
                Итак. В предисловии хотелось бы сказать, что это достаточно трудоемкое задание, но вместе
                с тем не менее интересное. Я долго думал, как сделать все более компактно и по уму. Что ж, на
                помощь в этом проекте пришли библиотеки:
            </p>
            <ul>
                <li>Flask – фреймворк для поднятия сервера;</li>
                <li>mimesis – фейковые данные для быстрого создания словаря;</li>
                <li>random – рандомный выбор элемента;</li>
                <li>Pandas – добавление строк в файл csv и их считывание;</li>
                <li>BeatifulSoup4 - парсинг сайтов;</li>
                <li>translators – переводчик слов;</li>
                <li>PySpellChecker – проверка орфографии слов;</li>
                <li>unitsnet_py – конвертер метрических единиц;</li>
                <li>CurrencyConverter – конвертер валют;</li>
                <li>re – регулярные выражения;</li>
                <li>Pygments – использовалось для объяснения работы кода в разделе "Помощь";</li>
                <li>Requests – для упрощения работы с HTTP-запросами.</li>
            </ul>
            <p>
                Я хотел создать полное CRUD-приложение с правильной обработкой методов [ "PUT" , "DELETE" ], однако решил 
                не делать их как положено. Начну использовать, когда подключим базы данных. В тот же момент внедрю в проекты
                и Redis. С базами будет намного легче взаимодействовать, что в случае Redis, что в случае с полноценным 
                CRUD-приложением. А пока что довольствуемся малым, формы на удаление и изменение данных на данный момент 
                существуют отдельно от таблицы, поэтому в заданиях придется листать вниз (для этого в каждом задании будет 
                анимированная стрелка вниз).
            </p>
            <p>
                Также хотелось бы добавить, что у меня не было цели делать формы полностью работоспособными, поэтому я не делал 
                валидацию приходящих из них данных. Вместо этого я просто сделал выезжающие при наведении на поле ввода 
                подсказки (но только для тех полей ввода, для которых посчитал нужным). 
            </p>
            <p>
                Примечание: если хотите разобраться в коде, в шапке профиля перейдите в раздел "Помощь".
            </p>
        </div>

    </div>
</div>
{% endblock %}