{% block exercise_1 %}
<div class="container-fluid welcome_container">
    <div class="row d-flex align-items-center vh-100">
        <div class="offset-1 col-5">
            <h4>Задание 1.</h4>
            <p>Создайте программу, хранящую информацию о великих баскетболистах. Нужно хранить ФИО баскетболиста и
                его рост. Требуется реализовать возможность добавления,
                удаления, поиска, замены данных. Используйте словарь
                для хранения информации.</p>
        </div>

        <div class="col-5 block_exercise_1">
            <h3>Программа "Великие баскетболисты"</h3>
            <p>Примечание: если вы просто хотите посмотреть список баскетболистов, нажмите кнопку отправить, не заполняя форму.</p>
            <p>Форма данных баскетболистов:</p>
            <form class="mt-3" action="/basketball_players" method="post">
                <div class="d-flex justify-content-between">
                    <div class="d-flex mt-2">
                        <input name="player_first_name" id="player_first_name" type="text" placeholder="Имя">
                        <span>
                            <i class="fa-solid fa-circle-user"></i>
                        </span>
                    </div>
                    <div class="d-flex mt-2">
                        <input name="player_last_name" id="player_last_name" type="text" placeholder="Фамилия">
                        <span>
                            <i class="fa-solid fa-circle-user"></i>
                        </span>
                    </div>
                    <div class="d-flex mt-2">
                        <input name="player_surname" id="player_surname" type="text" placeholder="Отчество">
                        <span>
                            <i class="fa-solid fa-circle-user"></i>
                        </span>
                    </div>
                </div>
                <div class="d-flex mt-2">
                    <input name="player_team" id="player_team" type="text" placeholder="Название команды">
                    <span>
                        <i class="fa-solid fa-basketball"></i>
                    </span>
                </div>
                <div class="d-flex mt-2">
                    <input name="player_height" id="player_height" type="text" placeholder="Рост игрока">
                    <span>
                        <i class="fa-solid fa-ruler"></i>
                    </span>
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <button class="submit" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}