{% block exercise_1 %}
<div class="container-fluid welcome_container">
    <div class="row d-flex align-items-center vh-100">
        <div class="offset-1 col-5">
            <h4>Задание 2.</h4>
            <p>
                Создайте программу «Англо-французский словарь».
                Нужно хранить слово на английском языке и его перевод
                на французский. Требуется реализовать возможность добавления, удаления, поиска, замены данных. Используйте
                словарь для хранения информации.
            </p>
        </div>

        <div class="col-5 block_exercise_2">
            <h3>Программа "Англо-французский словарь"</h3>
            <p>
                Примечание: для добавления нового слова заполните поле ввода и нажмите кнопку "Отправить". 
                Если хотите просто вывести таблицу с имеющимся списком переводов, отправьте пустое поле ввода.
            </p>
            <form class="mt-3" action="/translate" method="post">
                <div class="d-flex">
                    <input name="word_translate" id="word_translate" type="text" placeholder="Слово">
                    <span>
                        <i class="fa-solid fa-book"></i>
                    </span>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button class="submit" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}