{% block exercise_1 %}
<div class="container-fluid welcome_container">
    <div class="row d-flex align-items-center vh-100">
        <div class="offset-1 col-5">
            <h4>Задание 1.</h4>
            <p>Создайте программу, хранящую информацию о великих баскетболистах. Нужно хранить ФИО баскетболиста и
                его рост. Требуется реализовать возможность добавления,
                удаления, поиска, замены данных. Используйте словарь
                для хранения информации.</p>
        </div>
        <div class="col-5">
            <form action="" method="post"></form>
        </div>
    </div>
</div>
{% endblock %}