{% extends 'base.html' %}

{% block help %}
<!-- ———————————————————————————— CONTAINER ———————————————————————————— -->
<div class="container help_container">
    <div class="row">

        <!-- ———————————————————————————— HELP CONTENT ———————————————————————————— -->
        <div class="offset-1 col-10">

            <!-- ———————————————————————————— HELP TITLE ———————————————————————————— -->
            <h1>Справка</h1>

            <hr>

            <!-- ———————————————————————————— HELP EX_2 ———————————————————————————— -->
            {% block codes_ex_2 %}
            {% include 'codes/ex_2/codes_ex_2_template.html' %}
            {% endblock %}

        </div>

    </div>
</div>
{% endblock %}