{% extends 'base.html' %}

{% block help %}
<!-- ———————————————————————————— CONTAINER ———————————————————————————— -->
<div class="container-fluid help_container">
    <div class="row align-items-center justify-content-center">
        
        {% block help_links %}
        {% endblock %}

    </div>

    <div class="row">
        <!-- ———————————————————————————— HELP EX_1 ———————————————————————————— -->
        {% block codes_ex_1 %}
        {% endblock %}

        <!-- ———————————————————————————— HELP EX_2 ———————————————————————————— -->
        {% block codes_ex_2 %}
        {% endblock %}

        <!-- ———————————————————————————— HELP EX_3 ———————————————————————————— -->
        {% block codes_ex_3 %}
        {% endblock %}

        <!-- ———————————————————————————— HELP EX_4 ———————————————————————————— -->
        {% block codes_ex_4 %}
        {% endblock %}
    </div>
</div>
{% endblock %}

