{% block welcome %}
<div class="container-fluid welcome_container" >
    <div class="row d-flex align-items-center vh-100">
        <div class="offset-2 col-6">
            <div class="welcome">
                <h1 class="text_welcome"><span class="span_text_welcome">Приветствуем <i class="fa-solid fa-hand-holding-heart"></i></span></h1>
                <hr>
                <h3 class="text_welcome_description"><span class="span_text_welcome_description">Домашнее Задание #21. Кортежи, множества, словари. Часть II.</span></h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}