{% extends 'help.html' %}

{% block help_links %}

<div class="col-12" style="margin-top: 12vh;">
    <div class="row justify-content-center">
        <h1 class="mb-5 text-center help_title">Справка <i class="fa-solid fa-circle-info"></i></h1>
        <div class="col-2">
            <div class="card">
                <img src="../static/images/ex_1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <a href="/help_players" class="help_link">Читать</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <img src="../static/images/ex_2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <a href="/help_translate" class="help_link">Читать</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <img src="../static/images/ex_3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <a href="/help_company" class="help_link">Читать</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <img src="../static/images/ex_4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <a href="/help_books" class="help_link">Читать</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5">
            <div class="d-flex justify-content-center">
                <a class="help_back" href="/">Вернуться назад</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}